[access]
	inheritFrom = All-Iwlwifi-Projects
[project]
	state = active
	description = WCS WiFi Linux Driver
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/heads/*"]
	create = group hostap-approvers
	forgeCommitter = group hostap-approvers
	push = +force group hostap-approvers
	pushMerge = group hostap-approvers
	pushTag = group Jenkins
	label-Code-Review = -2..+2 group hostap-approvers
	label-Verified = -1..+1 group Jenkins
	label-Verified = -1..+1 group hostap-approvers
	submit = group hostap-approvers
[access "refs/heads/common/*"]
	forgeCommitter = group Registered Users
[access "refs/heads/sandbox/*"]
	forgeCommitter = group Registered Users
[access "refs/tags/*"]
	pushTag = group hostap-approvers
[imc]
	requireUtpId = no
	validateUtpId = no
